APP_NAME=ServiceMind Backend
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000
APP_DEBUG=true

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=123456
MYSQL_DATABASE=servicemind

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

LLM_API_BASE=https://api.deepseek.com
LLM_API_KEY=your_api_key
EMBEDDING_MODEL_NAME=BAAI/bge-small-zh-v1.5
